/* Body style */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Center alignment for h2 and h1 */
h2, h1 {
  text-align: center;
}

/* NGC image style */
#ngc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 15%;
}

/* Header style */
header {
  background-color: #094b91;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Sidebar style */
aside {
  background-color: #333;
  color: white;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100px; /* Fixed width */
}

/* Sidebar style when collapsed */
aside.collapsed {
  width: 80px; /* Smaller width when collapsed */
}

/* Sidebar navigation list style */
aside nav ul {
  list-style-type: none;
  padding: 0;
}

/* Sidebar navigation link style */
aside nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

/* Main content style */
main {
 /* Give space for the fixed sidebar */
  padding: 20px;
}

/* Card style */
.card {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Responsive style for sidebar and main content */
@media (max-width: 768px) {
  aside, main {
    width: 100%;
    margin-left: 0;
  }

  aside {
    position: relative;
    width: auto;
  }

  aside.collapsed {
    width: auto;
  }

  .card {
    box-shadow: none;

  }
}

/* Table style */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow around the table */
}

/* Table header and data cell style */
th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

/* Table header style */
th {
  background-color: #4CAF50;
  color: white;
}

/* Table even row style */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Responsive table design */
@media screen and (max-width: 600px) {
  table, thead, tbody, th, td, tr, .card {
    display: block;
  }

  th, td {
    text-align: right; /* Align text to right for better visibility on small devices */
  }

  td {
    position: relative;
    padding-left: 50%; /* Allows text to not be cramped on the left */
  }

  td::before {
    position: absolute;
    left: 6px;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label); /* Show data label before the content for clarity */
  }

  th::before {
    content: ""; /* No content needed before headers */
  }
}

/* Navbar style */
.navbar {
  justify-content: center;
}

/* Search input style */
#searchInput {
  width: 120px;
  margin: 0 auto;
}

/* Current time style */
#currentTime {
  font-size: 0.8em;
}
