<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/favicon.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body onload="updateTime()">

    <header>
        <!-- Header content goes here -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-darker-blue">
            <img src="{{ url_for('static', filename='ngc.jpg') }}" alt="User Dashboard">
        </nav>
    </header>

    <main>
        <section class="container mt-4">
            <h1><div id="currentTime"></div></h1>
            <div class="input-group mb-3">
                <input type="text" id="searchInput" placeholder="Filter by.." class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-primary btn-sm" onclick="fetchTableData()">Search</button>
                </div>
                <div class="input-group-append">
                    <select id="sortBy" class="form-control">
                        <option value="">Sort By</option>
                        <option value="daemon_name">Daemon Name</option>
                        <option value="feature_name">Feature Name</option>
                        <option value="licenses_total">Total Licenses</option>
                        <option value="licenses_total_in_use">Max Licenses Used</option>
                        <option value="licenses_used_by_user">Average Licenses Used</option>
                        <option value="unique_users">Unique Users</option>
                        <option value="expiration_date">Expiration Date</option>
                    </select>
                </div>
                <div class="input-group-append">
                    <select id="sortOrder" class="form-control">
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </div>
            </div>
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>DAEMON NAME</th>
                        <th>FEATURE NAME</th>
                        <th>TOTAL LICENSES</th>
                        <th>MAX LICENSES USED</th>
                        <th>AVERAGE LICENSES USED</th>
                        <th>UNIQUE USERS</th>
                        <th>EXPIRATION DATE</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    <!-- Table rows will be dynamically inserted here -->
                </tbody>
            </table>
            <div id="loading-animation" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </section>

    </main>

    <footer class="container-fluid bg-light p-3">
        <!-- Footer content goes here -->
        <p></p>
    </footer>

    <script>
        let isLoading = false;

        /**
         * Fetches table data based on search and sorting criteria
         */
        function fetchTableData() {
            // Get search input value and convert to lowercase
            const searchInput = document.getElementById('searchInput');
            const searchTerm = searchInput.value.toLowerCase();

            // Get sort criteria
            const sortBy = document.getElementById('sortBy').value;
            const sortOrder = document.getElementById('sortOrder').value;

            // Construct URL
            const url = `/table_data/ramt_license_usage${searchTerm ? `?search=${searchTerm}` : ''}${sortBy ? `?sortBy=${sortBy}&sortOrder=${sortOrder}` : ''}`;

            // Check if already loading data
            if (!isLoading) {
                isLoading = true;
                document.getElementById('loading-animation').style.display = 'block';
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        // Clear existing table data
                        const tableBody = document.querySelector('#table-body');
                        tableBody.innerHTML = '';

                        // Sort data based on criteria
                        data.sort((a, b) => {
                            // Sort by daemon name
                            if (sortBy === 'daemon_name') {
                                const nameA = a.daemon_name.toLowerCase();
                                const nameB = b.daemon_name.toLowerCase();
                                return nameA.localeCompare(nameB, undefined, { sensitivity: 'base' }) * (sortOrder === 'asc' ? 1 : -1);
                            }
                            // Sort by feature name
                            else if (sortBy === 'feature_name') {
                                const nameA = a.feature_name.toLowerCase();
                                const nameB = b.feature_name.toLowerCase();
                                return nameA.localeCompare(nameB, undefined, { sensitivity: 'base' }) * (sortOrder === 'asc' ? 1 : -1);
                            }

                            // Sort by expiration_date
                            else if (sortBy === 'expiration_date') {
                                const dateA = new Date(a.expiration_date);
                                const dateB = new Date(b.expiration_date);
                                return (dateA - dateB) * (sortOrder === 'asc' ? 1 : -1);
                            }
                            // Sort by other criteria
                            else if (sortBy) {
                                const valueA = a[sortBy].toLowerCase();
                                const valueB = b[sortBy].toLowerCase();
                                return valueA.localeCompare(valueB, undefined, { sensitivity: 'base' }) * (sortOrder === 'asc' ? 1 : -1);
                            }
                            return 0; // Default sorting order
                        });

                        // Insert data rows into table
                        data.forEach(row => {
                            // Skip rows that don't match search term
                            if (searchTerm && !row.daemon_name.toLowerCase().includes(searchTerm) && !row.feature_name.toLowerCase().includes(searchTerm)) {
                                return;
                            }

                            const tr = document.createElement('tr');
                            tr.innerHTML = `
                                <td>${row.license_usage_id}</td>
                                <td>${row.daemon_name}</td>
                                <td>${row.feature_name}</td>
                                <td>${row.licenses_total}</td>
                                <td>${row.licenses_total_in_use}</td>
                                <td>${row.licenses_used_by_user}</td>
                                <td>${row.unique_users}</td>
                                <td>${row.expiration_date}</td>
                            `;
                            tableBody.appendChild(tr);
                        });
                        isLoading = false;
                        document.getElementById('loading-animation').style.display = 'none';
                    })
                    .catch(error => console.error('Failed to fetch data:', error));
            }
        }

        function updateTime() {
            var currentDate = new Date();
            var dateOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            var timeOptions = { hour: 'numeric', minute: 'numeric', second: 'numeric' };
            var formattedDate = currentDate.toLocaleDateString('en-US', dateOptions);
            var formattedTime = currentDate.toLocaleTimeString('en-US', timeOptions);
            document.getElementById('currentTime').innerHTML = "Report Start Date: " + formattedDate + " " + formattedTime;
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>