<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/favicon.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body onload="updateTime()">

    <header>
        <!-- Header content goes here -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-darker-blue">
            <img src="{{ url_for('static', filename='ngc.jpg') }}" alt="User Dashboard">
        </nav>
    </header>

    <main>
        <section class="container mt-4">
            <h1><div id="currentTime"></div></h1>
            <div class="input-group mb-3">
                <input type="text" id="searchInput" placeholder="Filter by.." class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-primary btn-sm" onclick="fetchTableData()">Search</button>
                </div>
                <div class="input-group-append">
                    <select id="sortBy" class="form-control">
                        <option value="">Sort By</option>
                        <option value="daemon_name">Daemon Name</option>
                        <option value="feature_name">Feature Name</option>
                        <option value="licenses_total">Total Licenses</option>
                        <option value="licenses_total_in_use">Max Licenses Used</option>
                        <option value="licenses_used_by_user">Average Licenses Used</option>
                        <option value="unique_users">Unique Users</option>
                    </select>
                </div>
                <div class="input-group-append">
                    <select id="sortOrder" class="form-control">
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </div>
            </div>
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>DAEMON NAME</th>
                        <th>FEATURE NAME</th>
                        <th>TOTAL LICENSES</th>
                        <th>MAX LICENSES USED</th>
                        <th>AVERAGE LICENSES USED</th>
                        <th>UNIQUE USERS</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    <!-- Table rows will be dynamically inserted here -->
                </tbody>
            </table>
        </section>

    </main>

    <footer class="container-fluid bg-light p-3">
        <!-- Footer content goes here -->
        <p></p>
    </footer>

    <script>
        function fetchTableData() {
            const searchInput = document.getElementById('searchInput');
            const searchTerm = searchInput.value.toLowerCase();

            const sortBy = document.getElementById('sortBy').value;
            const sortOrder = document.getElementById('sortOrder').value;

            const url = `/table_data/ramt_license_usage${searchTerm ? `?search=${searchTerm}` : ''}${sortBy ? `?sortBy=${sortBy}&sortOrder=${sortOrder}` : ''}`;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.querySelector('#table-body');
                    tableBody.innerHTML = ''; // Clear existing data

                    data.sort((a, b) => {
                        if (sortBy === 'daemon_name') {
                            const nameA = a.daemon_name.toLowerCase();
                            const nameB = b.daemon_name.toLowerCase();
                            if (nameA < nameB) {
                                return sortOrder === 'asc' ? -1 : 1;
                            }
                            if (nameA > nameB) {
                                return sortOrder === 'asc' ? 1 : -1;
                            }
                            return 0;
                        } else if (sortBy === 'feature_name') {
                            const nameA = a.feature_name.toLowerCase();
                            const nameB = b.feature_name.toLowerCase();
                            if (nameA < nameB) {
                                return sortOrder === 'asc' ? -1 : 1;
                            }
                            if (nameA > nameB) {
                                return sortOrder === 'asc' ? 1 : -1;
                            }
                            return 0;
                        } else if (sortBy) {
                            const valueA = a[sortBy].toLowerCase();
                            const valueB = b[sortBy].toLowerCase();
                            if (valueA < valueB) {
                                return sortOrder === 'asc' ? -1 : 1;
                            }
                            if (valueA > valueB) {
                                return sortOrder === 'asc' ? 1 : -1;
                            }
                            return 0;
                        }
                        return 0; // Default sorting order
                    });

                    data.forEach(row => {
                        if (searchTerm && !row.daemon_name.toLowerCase().includes(searchTerm) && !row.feature_name.toLowerCase().includes(searchTerm)) {
                            return; // Skip rows that don't match the search term
                        }

                        const tr = document.createElement('tr');
                        tr.innerHTML = `
                            <td>${row.license_usage_id}</td>
                            <td>${row.daemon_name}</td>
                            <td>${row.feature_name}</td>
                            <td>${row.licenses_total}</td>
                            <td>${row.licenses_total_in_use}</td>
                            <td>${row.licenses_used_by_user}</td>
                            <td>${row.unique_users}</td>
                        `;
                        tableBody.appendChild(tr);
                    });
                })
                .catch(error => console.error('Failed to fetch data:', error));
        }

        function updateTime() {
            var currentDate = new Date();
            var dateOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            var timeOptions = { hour: 'numeric', minute: 'numeric', second: 'numeric' };
            var formattedDate = currentDate.toLocaleDateString('en-US', dateOptions);
            var formattedTime = currentDate.toLocaleTimeString('en-US', timeOptions);
            document.getElementById('currentTime').innerHTML = "Report Start Date: " + formattedDate + " " + formattedTime;
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>

